@model chuyende.Models.LoaiSanPham

@{
    ViewBag.Title = "Delete";
    Layout = "~/Areas/Admin/Views/Shared/_LayoutAdmin.cshtml";
}

<div class="table-container">
    <h3>Bạn có chắc chắn muốn xóa mục này không?</h3>

    <table>
        <thead>
            <tr>
                <th>Tên loại sản phẩm</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>@Html.DisplayFor(model => model.TenLoaiSP)</td>
            </tr>
        </tbody>
    </table>
    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()
        <div class="form-actions">
            <button type="submit" class="delete">Xác nhận</button>
            <button type="button" class="cancel-btn btn btn-secondary" onclick="window.location.href='@Url.Action("Index", "LoaiSanPhams")'">Hủy</button>

        </div>
    }
    
</div>