@model chuyende.Models.LoaiSanPham

@{
    ViewBag.Title = "Details";
    Layout = "~/Areas/Admin/Views/Shared/_LayoutAdmin.cshtml";
}

<div class="table-container">
    <h3>Xem chi tiết chức vụ</h3>

    <table>
        <thead>
            <tr>
                <th>Tên loại sản phẩm</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>@Html.DisplayFor(model => model.TenLoaiSP)</td>
            </tr>
        </tbody>
    </table>
    <div class="form-actions">
        <button type="button" class="save-btn btn btn-warning" onclick="window.location.href='@Url.Action("Edit", "LoaiSanPhams", new { id = Model.MaLoaiSP })'">Chỉnh sửa</button>
        <button type="button" class="cancel-btn btn btn-secondary" onclick="window.location.href='@Url.Action("Index", "LoaiSanPhams")'">Hủy</button>

    </div>
</div>